# Port configuration
PORT=3000

# Spreadsheet Config
SPREADSHEET_ID=1XD7hd5ZTUeNejSs9tgA7NwElZjUovjAqtr_Y1OiFzn8

# Custom display names for the two users
USER1_NAME=User 1
USER2_NAME=User 2

# Google Cloud Service Account Credentials
# (Leave empty to run in Local Mock Database mode or Google Apps Script mode)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Google Apps Script Web App URL
# (If set, this will override service account credentials and connect via the Web App)
APPS_SCRIPT_URL=
